In [1]:
from data import BaostockDataWorker, DATABASE
DATABASE_PATH = os.getcwd()     # 解决方法
print("----database:"+DATABASE_PATH +"/"+ DATABASE + "----")
dw = BaostockDataWorker()

Working in /Users/yin/Library/CloudStorage/OneDrive-Personal/2.doing/bandwagon
login success!
----database:/Users/yin/Library/CloudStorage/OneDrive-Personal/2.doing/bandwagon/stock.db----
login success!

In [12]:
# t = dw.all_tickers[dw.all_tickers.type == 1 & dw.all_tickers.status == 1].sample(1).iloc[0].code
t = dw.all_tickers
t[t.type == "1"]

           code code_name     ipoDate     outDate type status
1348  sh.600000      浦发银行  1999-11-10                1      1
1349  sh.600001      邯郸钢铁  1998-01-22  2009-12-29    1      0
1350  sh.600002      齐鲁石化  1998-04-08  2006-04-24    1      0
1351  sh.600003     ST东北高  1999-08-10  2010-02-26    1      0
1352  sh.600004      白云机场  2003-04-28                1      1
...         ...       ...         ...         ...  ...    ...
6725  sz.301321      翰博高新  2022-08-18                1      1
6726  sz.301330      熵基科技  2022-08-17                1      1
6727  sz.301333       诺思格  2022-08-02                1      1
6728  sz.301336      趣睡科技  2022-08-12                1      1
6729  sz.301338      凯格精机  2022-08-16                1      1

[4973 rows x 6 columns]

In [14]:
import baostock as bs
import pandas as pd

# 登陆系统
lg = bs.login()
# 显示登陆返回信息
print('login respond error_code:'+lg.error_code)
print('login respond  error_msg:'+lg.error_msg)

# 获取行业分类数据
rs = bs.query_stock_industry()
# rs = bs.query_stock_basic(code_name="浦发银行")
print('query_stock_industry error_code:'+rs.error_code)
print('query_stock_industry respond  error_msg:'+rs.error_msg)

# 打印结果集
industry_list = []
while (rs.error_code == '0') & rs.next():
    # 获取一条记录，将记录合并在一起
    industry_list.append(rs.get_row_data())
result = pd.DataFrame(industry_list, columns=rs.fields)
# 结果集输出到csv文件
# result.to_csv("D:/stock_industry.csv", encoding="gbk", index=False)
print(result)

# 登出系统
bs.logout()

login success!
login respond error_code:0
login respond  error_msg:success
query_stock_industry error_code:0
query_stock_industry respond  error_msg:success
      updateDate       code code_name industry industryClassification
0     2022-08-01  sh.600000      浦发银行       银行                 申万一级行业
1     2022-08-01  sh.600001      邯郸钢铁                          申万一级行业
2     2022-08-01  sh.600002      齐鲁石化                          申万一级行业
3     2022-08-01  sh.600003     ST东北高                          申万一级行业
4     2022-08-01  sh.600004      白云机场     交通运输                 申万一级行业
...          ...        ...       ...      ...                    ...
4925  2022-08-01  sz.301289      国缆检测                          申万一级行业
4926  2022-08-01  sz.301298      东利机械                          申万一级行业
4927  2022-08-01  sz.301302      华如科技                          申万一级行业
4928  2022-08-01  sz.301306      西测测试                          申万一级行业
4929  2022-08-01  sz.301312       智立方                          申万一级行业

[4930 rows x 5 columns]
logout success!

In [15]:
result

      updateDate       code code_name industry industryClassification
0     2022-08-01  sh.600000      浦发银行       银行                 申万一级行业
1     2022-08-01  sh.600001      邯郸钢铁                          申万一级行业
2     2022-08-01  sh.600002      齐鲁石化                          申万一级行业
3     2022-08-01  sh.600003     ST东北高                          申万一级行业
4     2022-08-01  sh.600004      白云机场     交通运输                 申万一级行业
...          ...        ...       ...      ...                    ...
4925  2022-08-01  sz.301289      国缆检测                          申万一级行业
4926  2022-08-01  sz.301298      东利机械                          申万一级行业
4927  2022-08-01  sz.301302      华如科技                          申万一级行业
4928  2022-08-01  sz.301306      西测测试                          申万一级行业
4929  2022-08-01  sz.301312       智立方                          申万一级行业

[4930 rows x 5 columns]

In [32]:
import baostock as bs
import pandas as pd

#### 登陆系统 ####
lg = bs.login()
# 显示登陆返回信息
print('login respond error_code:'+lg.error_code)
print('login respond  error_msg:'+lg.error_msg)

#### 获取沪深A股历史K线数据 ####
# 详细指标参数，参见“历史行情指标参数”章节；“分钟线”参数与“日线”参数不同。“分钟线”不包含指数。
# 分钟线指标：date,time,code,open,high,low,close,volume,amount,adjustflag
# 周月线指标：date,code,open,high,low,close,volume,amount,adjustflag,turn,pctChg
rs = bs.query_history_k_data_plus("sh.600000",
    "date,code,open,high,low,close,preclose,volume,amount,adjustflag,turn,tradestatus,pctChg,isST",
    start_date='2017-07-01', end_date='2017-12-31',
    frequency="d", adjustflag="3")
print('query_history_k_data_plus respond error_code:'+rs.error_code)
print('query_history_k_data_plus respond  error_msg:'+rs.error_msg)

#### 打印结果集 ####
data_list = []
while (rs.error_code == '0') & rs.next():
    # 获取一条记录，将记录合并在一起
    data_list.append(rs.get_row_data())
result = pd.DataFrame(data_list, columns=rs.fields)

#### 结果集输出到csv文件 ####   
# result.to_csv("D:\\history_A_stock_k_data.csv", index=False)

#### 登出系统 ####
bs.logout()
result

login success!
login respond error_code:0
login respond  error_msg:success
query_history_k_data_plus respond error_code:0
query_history_k_data_plus respond  error_msg:success
logout success!

,date,code,open,high,low,close,preclose,volume,amount,adjustflag,turn,tradestatus,pctChg,isST
0,2017-07-03,sh.600000,12.6400,12.6500,12.4700,12.5600,12.6500,38778949,486264672.0000,3,0.137985,1,-0.711456,0
1,2017-07-04,sh.600000,12.5500,12.5800,12.4100,12.5500,12.5600,36659128,458434432.0000,3,0.130442,1,-0.079620,0
2,2017-07-05,sh.600000,12.5000,12.6500,12.4700,12.6200,12.5500,26470507,332542464.0000,3,0.094188,1,0.557767,0
3,2017-07-06,sh.600000,12.6200,12.7200,12.5100,12.6600,12.6200,37414241,471582096.0000,3,0.133129,1,0.316957,0
4,2017-07-07,sh.600000,12.6200,12.6900,12.5500,12.6000,12.6600,24667294,311101536.0000,3,0.087772,1,-0.473929,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,2017-12-25,sh.600000,12.6100,12.6800,12.5600,12.5900,12.6200,19306662,243553698.0000,3,0.068698,1,-0.237716,0
121,2017-12-26,sh.600000,12.5700,12.6600,12.5600,12.6400,12.5900,15225722,192219131.0000,3,0.054177,1,0.397142,0
122,2017-12-27,sh.600000,12.6500,12.6600,12.5300,12.6200,12.6400,32731881,412197987.0000,3,0.116468,1,-0.158231,0
123,2017-12-28,sh.600000,12.6000,12.6600,12.5300,12.5400,12.6200,23870824,300834017.0000,3,0.084938,1,-0.633914,0
124,2017-12-29,sh.600000,12.5200,12.6200,12.5100,12.5900,12.5400,16351826,205752875.0000,3,0.058184,1,0.398726,0

In [33]:
result[['open',	'high',	'low',	'close']] = result[['open',	'high',	'low',	'close']].astype("float64")
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         125 non-null    object
 1   code         125 non-null    object
 2   open         125 non-null    float64
 3   high         125 non-null    float64
 4   low          125 non-null    float64
 5   close        125 non-null    float64
 6   preclose     125 non-null    object
 7   volume       125 non-null    object
 8   amount       125 non-null    object
 9   adjustflag   125 non-null    object
 10  turn         125 non-null    object
 11  tradestatus  125 non-null    object
 12  pctChg       125 non-null    object
 13  isST         125 non-null    object
dtypes: float64(4), object(10)
memory usage: 13.8+ KB

In [44]:
result

,date,code,open,high,low,close,preclose,volume,amount,adjustflag,turn,tradestatus,pctChg,isST
0,2017-07-03,sh.600000,12.64,12.65,12.47,12.56,12.6500,38778949,486264672.0000,3,0.137985,1,-0.711456,0
1,2017-07-04,sh.600000,12.55,12.58,12.41,12.55,12.5600,36659128,458434432.0000,3,0.130442,1,-0.079620,0
2,2017-07-05,sh.600000,12.50,12.65,12.47,12.62,12.5500,26470507,332542464.0000,3,0.094188,1,0.557767,0
3,2017-07-06,sh.600000,12.62,12.72,12.51,12.66,12.6200,37414241,471582096.0000,3,0.133129,1,0.316957,0
4,2017-07-07,sh.600000,12.62,12.69,12.55,12.60,12.6600,24667294,311101536.0000,3,0.087772,1,-0.473929,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,2017-12-25,sh.600000,12.61,12.68,12.56,12.59,12.6200,19306662,243553698.0000,3,0.068698,1,-0.237716,0
121,2017-12-26,sh.600000,12.57,12.66,12.56,12.64,12.5900,15225722,192219131.0000,3,0.054177,1,0.397142,0
122,2017-12-27,sh.600000,12.65,12.66,12.53,12.62,12.6400,32731881,412197987.0000,3,0.116468,1,-0.158231,0
123,2017-12-28,sh.600000,12.60,12.66,12.53,12.54,12.6200,23870824,300834017.0000,3,0.084938,1,-0.633914,0
124,2017-12-29,sh.600000,12.52,12.62,12.51,12.59,12.5400,16351826,205752875.0000,3,0.058184,1,0.398726,0

In [47]:
def criteria(s):
    return 1 if s.close > s.open  else 0

result['signal'] = result.apply(criteria, axis= 1)

In [53]:
import numpy as np

sigmoid = lambda x: 1/(1 + np.exp(-x))
sigmoid(result.close.diff(1))

0           NaN
1      0.497500
2      0.517493
3      0.509999
4      0.485004
         ...
120    0.492501
121    0.512497
122    0.495000
123    0.480011
124    0.512497
Name: close, Length: 125, dtype: float64

In [ ]:
import baostock as bs
import os
import sqlite3
import pandas as pd
from functools import partial
from globals import MAIN_PATH, OLHCVA, MKT_OCLHVA, BAOSTOCK_MAPPING
import pysnooper
from datetime import datetime, timedelta
from itertools import count
import tushare as ts


class DataWorker(object):
    def __init__(self) -> None:
        self.ds = DataStorage()
        self.begin = "2000-01-01"

    def __del__(self) -> None:
        pass
    
    @property
    def all_tickers(self) -> pd.DataFrame :
        pass
    
    def minute(self,ticker,ktype='1') -> pd.DataFrame :
        pass

    def save(self, rs:pd.DataFrame) -> bool:
        pass

class BaostockDataWorker(DataWorker):
    def __init__(self) -> None:
        super().__init__()
        self.login = bs.login(user_id="anonymous", password="123456")
        self.ds = DataStorage()
        self.begin = "2000-01-01"

    @property
    def all_tickers(self) -> pd.DataFrame :
        tickers = bs.query_stock_basic().get_data()  # 获取最新证券基本资料，可以通过参数设置获取对应证券代码、证券名称的数据
        self.ds.save_tickers(tickers)
        return tickers

    # @pysnooper.snoop()
    def minute(self,ticker,start_date, end_date, ktype='5') -> pd.DataFrame :
        ''' download 5-minutely data if ticker available
        http://baostock.com/baostock/index.php/Python_API文档
        '''
        end_date = datetime.today if end_date is None else end_date
        rs = bs.query_history_k_data_plus(ticker, "date,time,code,open,high,low,close,volume,amount,adjustflag",
            start_date = start_date, end_date = end_date, frequency = ktype, adjustflag="2")
        self.stock = rs.get_data() # if rs.error_code == '0' else None
        self.stock[OLHCVA] = self.stock[OLHCVA].astype('float')  # Baostock给出的是object，不是float的要转成float
        self.stock.rename(columns = BAOSTOCK_MAPPING,inplace = True) 
        return self.stock

    def market(self,ticker) -> str:
        ''' returns the market index of designated ticker. 
        注意指数没有分钟线数据... ...怎么办？
        ie. 'sh.000023' goes to 'sh.000001' # 上证综指 
            'sz.300333' goes to 'sz.300001' # 深圳综指
            'hk.00700' goes to 'HSI'        # 恒生指数
            'us.######' goes to 'NASDAQ' or 'DJX' 
        '''
        market = ticker.split(".")[0]
        # match market:   # requires python 3.10 or higher version
        #     case 'sh': 'sh.000001'
        #     case 'sz':  'sz.000001'
        #     case 'hk':  'HSI'
        #     case 'us':  'DJX'
        if market == 'sh':
            mkt = 'sh.000001'
        elif market == 'sz':
            mkt = 'sz.300006'
        elif market == 'hk':
            mkt = 'HSI'
        else:
            print("invalid market label")
        return mkt # 暂时以上证指数为大盘

    def minute_mkt(self,ticker,ktype='5') -> pd.DataFrame:
        ''' downloads 5-min with market data if ticker available
        常用的合并方法包括append、assign、combine、update、concat、merge、join等
        '''
        rs1 = self.minute(ticker, ktype)
        mkt = self.market(ticker)
        begin = rs1.date.min
        end = rs1.date.max
        rs2 = self.minute(mkt, begin, end, ktype = 'd') # only ktype = 'd' is available for indices in Baostock
        rs2.rename(columns=dict(zip(OLHCVA, MKT_OCLHVA)),inplace = True) 
        rs2.rename(columns={'code':"mkt_code"},inplace = True) 
        return rs2 # returns rs2 only
        # return rs1.merge(rs2,how='left', left_on=["date","time"],right_on=["date","time"])  # 按列合并
    
    def save(self, rs:pd.DataFrame) -> bool:
        return self.ds.save_raw(rs)

In [ ]:
rs = dw.minute(t0)
rs

In [ ]:
rs

In [ ]:
from globals import OLHCVA, Infinitesimal

In [ ]:
import numpy as np
# from utils import sigmoid_plus
# tanh = lambda z:(np.exp(z)-np.exp(-z))/(np.exp(z)+np.exp(-z))
def tanh(z):
    return (np.exp(z)-np.exp(-z))/(np.exp(z)+np.exp(-z))


sigmoid_ = lambda x: 1.0/(1+np.exp(-x)) - 0.5

rs[rs.volume == 0] = Infinitesimal
rs[rs.amount == 0] = Infinitesimal

In [ ]:
rs_ = rs[OLHCVA].pct_change().dropna()

In [ ]:
rs_.describe()

In [ ]:
rs_[['volume','amount']] = rs_[['volume','amount']].applymap(sigmoid_)

In [ ]:
sns.pairplot(rs_)

In [ ]:
import seaborn as sns
sns.factorplot(rs_.sample(100))

In [ ]:
dots = sns.load_dataset("dots")
sns.kdeplot(
    data=dots, kind="line",
    x="time", y="firing_rate", col="align",
    hue="choice", size="coherence", style="choice",
    facet_kws=dict(sharex=False),
)

dots

In [ ]:
from unicodedata import category
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline
penguins = sns.load_dataset("penguins")
sns.jointplot(data=penguins, x="flipper_length_mm", y="bill_length_mm", hue="species")

In [ ]:
sns.pairplot(data=penguins, hue="species")

In [ ]:
pt = PowerTransformer(method='box-cox', standardize=False)
X_pt = pt.fit_transform(X)                   
sns.displot(X_pt, kde=True)

In [ ]:
df = pd.DataFrame({'A':np.array([1,np.nan,2,3,6,np.nan]),
                 'B':np.array([np.nan,4,np.nan,5,9,np.nan]),
                  'C':'foo'})
df.isna()

In [ ]:
x = np.array([0,1,3])
y = np.array([0,1,5])
a1=len(x)*((x*y).sum())-x.sum()*y.sum()
a2=len(x)*((x**2).sum())-(x.sum())**2
a=a1/a2
b=y.mean()-a*(x.mean())
print(a,b)

In [ ]:
# 第二种解法： a = np.cov(x,y)/ x.var(), b = (y - a*x).mean() 
a = ((x*y).mean() - x.mean()*y.mean())/x.var()
b = (y - a*x).mean() 
print(a,b)


covar = lambda x,y: ((x*y).mean() - x.mean()*y.mean())

covar(x,y)/covar(x,x)

In [ ]:
# 用np.cov(), np.var() 要注意是总体还是样本，总体的时候分母是n，样本时分母是n-1
np.cov(x,y)[1,0]*2/3 , covar(x,y)
covar(x,x) , x.var()

In [ ]:
#首先我们先建立一个数据集，这也是之后用来训练和测试的数据
#导入包，创建数据集
import pandas as pd
examDict={
    '学习时间':[0.50,0.75,1.00,1.25,1.50,1.75,1.75,2.00,2.25,
            2.50,2.75,3.00,3.25,3.50,4.00,4.25,4.50,4.75,5.00,5.50],
    '分数':    [10,  22,  13,  43,  20,  22,  33,  50,  62,  
              48,  55,  75,  62,  73,  81,  76,  64,  82,  90,  93]
}
exam=pd.DataFrame(examDict)
#看看数据集长什么样
exam.head()

In [ ]:
import numpy as np

### EM算法过程函数定义
def em(data, thetas, max_iter=30, eps=1e-3):
    '''
    输入：
    data：观测数据
    thetas：初始化的估计参数值
    max_iter：最大迭代次数
    eps：收敛阈值
    输出：
    thetas：估计参数
    '''
    # 初始化似然函数值
    ll_old = -np.infty
    for i in range(max_iter):
        ### E步：求隐变量分布
        # 对数似然 [coin_num, exp_num], [2, 5]
        log_like = np.array([np.sum(data * np.log(theta), axis=1) for theta in thetas])
        # 似然 [coin_num, exp_num], [2, 5]
        like = np.exp(log_like)
        # 求隐变量分布 [coin_num, exp_num], [2, 5]  Q_i
        ws = like/like.sum(0)
        # 概率加权 [2, 5, 2]
        vs = np.array([w[:, None] * data for w in ws])
        ### M步：更新参数值 [2, 2]  [[A_+,A_-],[B_+,B_-]]
        thetas = np.array([v.sum(0)/v.sum() for v in vs])
        # 更新似然函数
        ll_new = np.sum([w*l for w, l in zip(ws, log_like)])  # 计算似然函数 \hat(theta):=\arg,\max_{\theta}\sum_{i=1}^m\sum_{z^{(i)}Q_i(z^{(i)})\log{P(x_i,z^{(i)}|\theta)}}
        print("Iteration: %d" % (i+1))
        print("theta_B = %.2f, theta_C = %.2f, ll = %.2f"
              % (thetas[0,0], thetas[1, 0], ll_new))
        # 满足迭代条件即退出迭代
        if np.abs(ll_new - ll_old) < eps:
            break
        ll_old = ll_new
    return thetas


if __name__ == "__main__":
    # 观测数据，5次独立试验，每次试验10次抛掷的正反次数
    # 比如第一次试验为5次正面5次反面
    observed_data = np.array([(5,5), (9,1), (8,2), (4,6), (7,3)])
    # 初始化参数值，即硬币B的正面概率为0.6，硬币C的正面概率为0.5
    thetas = np.array([[0.6, 0.4], [0.5, 0.5]])
    # thetas = em(observed_data, thetas, max_iter=30, eps=1e-3)
    thetas = em(observed_data, thetas) #, max_iter=30, eps=1e-4)
    print(thetas)

In [ ]:
import baostock as bs
import pandas as pd

#### 登陆系统 ####
lg = bs.login()
# 显示登陆返回信息
print('login respond error_code:'+lg.error_code)
print('login respond  error_msg:'+lg.error_msg)

#### 获取沪深A股历史K线数据 ####
# 详细指标参数，参见“历史行情指标参数”章节；“分钟线”参数与“日线”参数不同。“分钟线”不包含指数。
# 分钟线指标：date,time,code,open,high,low,close,volume,amount,adjustflag
# 周月线指标：date,code,open,high,low,close,volume,amount,adjustflag,turn,pctChg
rs = bs.query_history_k_data_plus("sh.600000",
    "date,time,code,name,open,high,low,close,volume,amount,adjustflag",
    start_date='2017-07-01', end_date='2017-07-31',
    frequency="5", adjustflag="3")
print('query_history_k_data_plus respond error_code:'+rs.error_code)
print('query_history_k_data_plus respond  error_msg:'+rs.error_msg)

#### 打印结果集 ####
data_list = []
while (rs.error_code == '0') & rs.next():
    # 获取一条记录，将记录合并在一起
    data_list.append(rs.get_row_data())
result = pd.DataFrame(data_list, columns=rs.fields)

#### 结果集输出到csv文件 ####   
# result.to_csv("D:\\history_A_stock_k_data.csv", index=False)
print(result)

#### 登出系统 ####
bs.logout()

In [56]:
import pandas as pd
df = pd.read_excel("000016closeweight.xls",header = 0)
df

      code  name  weight  sector
0   600900  长江电力   3.710     NaN
1   600010  包钢股份   0.697     NaN
2   600690  海尔智家   1.428     NaN
3   600028  中国石化   0.932     NaN
4   600346  恒力石化   0.545     NaN
5   600837  海通证券   1.327     NaN
6   600104  上汽集团   1.091     NaN
7   600031  三一重工   1.454     NaN
8   600309  万华化学   2.160     NaN
9   600111  北方稀土   0.877     NaN
10  600809  山西汾酒   1.921     NaN
11  600030  中信证券   2.974     NaN
12  600585  海螺水泥   1.055     NaN
13  600036  招商银行   6.653     NaN
14  600519  贵州茅台  15.442     NaN
15  600887  伊利股份   2.271     NaN
16  600893  航发动力   0.934     NaN
17  600048  保利发展   1.839     NaN
18  601398  工商银行   2.317     NaN
19  601088  中国神华   1.549     NaN
20  601668  中国建筑   1.896     NaN
21  601688  华泰证券   1.183     NaN
22  601628  中国人寿   0.926     NaN
23  600438  通威股份   1.799     NaN
24  601288  农业银行   1.414     NaN
25  600745  闻泰科技   0.633     NaN
26  601919  中远海控   1.229     NaN
27  600588  用友网络   0.605     NaN
28  600196  复星医药   0.725     NaN
29  600276  恒瑞医药   2.734     NaN
30  601899  紫金矿业   2.179     NaN
31  601888  中国中免   2.964     NaN
32  601166  兴业银行   3.957     NaN
33  601601  中国太保   1.281     NaN
34  601857  中国石油   0.783     NaN
35  601318  中国平安   7.487     NaN
36  600436   片仔癀   1.182     NaN
37  600570  恒生电子   0.934     NaN
38  601633  长城汽车   0.606     NaN
39  601012  隆基绿能   4.267     NaN
40  603288  海天味业   1.504     NaN
41  603799  华友钴业   1.221     NaN
42  601211  国泰君安   0.970     NaN
43  603986  兆易创新   1.034     NaN
44  603501  韦尔股份   0.888     NaN
45  603259  药明康德   2.460     NaN
46  601066  中信建投   0.491     NaN
47  601995  中金公司   0.345     NaN
48  600905  三峡能源   0.766     NaN
49  601728  中国电信   0.363     NaN

In [ ]:
df.iloc[0]

In [ ]:
import baostock as bs
import pandas as pd

# 登陆系统
lg = bs.login()
# 显示登陆返回信息
print('login respond error_code:'+lg.error_code)
print('login respond  error_msg:'+lg.error_msg)

# 获取上证50成分股
rs = bs.query_sz50_stocks()
print('query_sz50 error_code:'+rs.error_code)
print('query_sz50  error_msg:'+rs.error_msg)

# 打印结果集
sz50_stocks = []
while (rs.error_code == '0') & rs.next():
    # 获取一条记录，将记录合并在一起
    sz50_stocks.append(rs.get_row_data())
result = pd.DataFrame(sz50_stocks, columns=rs.fields)
# 结果集输出到csv文件
# result.to_csv("D:/sz50_stocks.csv", encoding="gbk", index=False)
print(result)

# 登出系统
bs.logout()

In [ ]:
result

In [ ]:
import numpy as np
x = np.linspace(0,10,100)
y = np.sin(x)
import matplotlib.pyplot as plt
import matplotlib as mpl
# mpl.rc("font",family='Heiti TC')
plt.rcParams['font.sans-serif'] = ['SimHei']
plt.plot(x,y)
plt.hlines(0,0,10)
plt.text(0,0.5,"上缩")
plt.text(2,0.5,"下放")
plt.text(3,-0.5,"下缩")
plt.text(5,-0.5,"上放")
plt.text(6,0.5,"上缩")
plt.text(8,0.5,"下放")

In [54]:
def market_of(ticker:str) -> str:
        '''根据股票代码，返回其所在的大盘指数代码
        http://baostock.com/baostock/index.php/指数数据
        综合指数，例如：sh.000001 上证指数，sz.399106 深证综指 等；
        规模指数，例如：sh.000016 上证50，sh.000300 沪深300，sh.000905 中证500，sz.399001 深证成指等；
        注意指数没有分钟线数据... ...怎么办？
        ie. 'sh.000023' goes to 'sh.000001' # 上证综指 
            'sz.300333' goes to 'sz.399106' # 深圳综指
            'hk.00700' goes to 'HSI'        # 恒生指数
            'us.######' goes to 'NASDAQ' or 'DJX' 
        '''
        # market = ticker.split(".")[0]
        market = ticker
        # match market:   # requires python 3.10 or higher version
        #     case 'sh': 'sh.000001'
        #     case 'sz':  'sz.399106'
        #     case 'hk':  'HSI'
        #     case 'us':  'DJX'
        if market == 'sh': mkt = 'sh.000001'
        elif market == 'sz': mkt = 'sz.399106'
        elif market == 'hk': mkt = 'HSI'
        else: print("invalid market label")

        return mkt

In [63]:
df['code'] = df.code.astype("str")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   code    50 non-null     object
 1   name    50 non-null     object
 2   weight  50 non-null     float64
 3   sector  0 non-null      float64
dtypes: float64(2), object(2)
memory usage: 1.7+ KB

'sh.000001'