In [1]:
from data import BaostockDataWorker, DATABASE
DATABASE_PATH = os.getcwd()     # 解决方法
print("----database:"+DATABASE_PATH +"/"+ DATABASE + "----")
dw = BaostockDataWorker()

Working in /Users/yin/Library/CloudStorage/OneDrive-Personal/2.doing/bandwagon
login success!
----database:/Users/yin/Library/CloudStorage/OneDrive-Personal/2.doing/bandwagon/stock.db----
login success!

In [12]:
# t = dw.all_tickers[dw.all_tickers.type == 1 & dw.all_tickers.status == 1].sample(1).iloc[0].code
t = dw.all_tickers
t[t.type == "1"]

           code code_name     ipoDate     outDate type status
1348  sh.600000      浦发银行  1999-11-10                1      1
1349  sh.600001      邯郸钢铁  1998-01-22  2009-12-29    1      0
1350  sh.600002      齐鲁石化  1998-04-08  2006-04-24    1      0
1351  sh.600003     ST东北高  1999-08-10  2010-02-26    1      0
1352  sh.600004      白云机场  2003-04-28                1      1
...         ...       ...         ...         ...  ...    ...
6725  sz.301321      翰博高新  2022-08-18                1      1
6726  sz.301330      熵基科技  2022-08-17                1      1
6727  sz.301333       诺思格  2022-08-02                1      1
6728  sz.301336      趣睡科技  2022-08-12                1      1
6729  sz.301338      凯格精机  2022-08-16                1      1

[4973 rows x 6 columns]

In [14]:
import baostock as bs
import pandas as pd

# 登陆系统
lg = bs.login()
# 显示登陆返回信息
print('login respond error_code:'+lg.error_code)
print('login respond  error_msg:'+lg.error_msg)

# 获取行业分类数据
rs = bs.query_stock_industry()
# rs = bs.query_stock_basic(code_name="浦发银行")
print('query_stock_industry error_code:'+rs.error_code)
print('query_stock_industry respond  error_msg:'+rs.error_msg)

# 打印结果集
industry_list = []
while (rs.error_code == '0') & rs.next():
    # 获取一条记录，将记录合并在一起
    industry_list.append(rs.get_row_data())
result = pd.DataFrame(industry_list, columns=rs.fields)
# 结果集输出到csv文件
# result.to_csv("D:/stock_industry.csv", encoding="gbk", index=False)
print(result)

# 登出系统
bs.logout()

login success!
login respond error_code:0
login respond  error_msg:success
query_stock_industry error_code:0
query_stock_industry respond  error_msg:success
      updateDate       code code_name industry industryClassification
0     2022-08-01  sh.600000      浦发银行       银行                 申万一级行业
1     2022-08-01  sh.600001      邯郸钢铁                          申万一级行业
2     2022-08-01  sh.600002      齐鲁石化                          申万一级行业
3     2022-08-01  sh.600003     ST东北高                          申万一级行业
4     2022-08-01  sh.600004      白云机场     交通运输                 申万一级行业
...          ...        ...       ...      ...                    ...
4925  2022-08-01  sz.301289      国缆检测                          申万一级行业
4926  2022-08-01  sz.301298      东利机械                          申万一级行业
4927  2022-08-01  sz.301302      华如科技                          申万一级行业
4928  2022-08-01  sz.301306      西测测试                          申万一级行业
4929  2022-08-01  sz.301312       智立方                          申万一级行业

[4930 rows x 5 columns]
logout success!

In [15]:
result

      updateDate       code code_name industry industryClassification
0     2022-08-01  sh.600000      浦发银行       银行                 申万一级行业
1     2022-08-01  sh.600001      邯郸钢铁                          申万一级行业
2     2022-08-01  sh.600002      齐鲁石化                          申万一级行业
3     2022-08-01  sh.600003     ST东北高                          申万一级行业
4     2022-08-01  sh.600004      白云机场     交通运输                 申万一级行业
...          ...        ...       ...      ...                    ...
4925  2022-08-01  sz.301289      国缆检测                          申万一级行业
4926  2022-08-01  sz.301298      东利机械                          申万一级行业
4927  2022-08-01  sz.301302      华如科技                          申万一级行业
4928  2022-08-01  sz.301306      西测测试                          申万一级行业
4929  2022-08-01  sz.301312       智立方                          申万一级行业

[4930 rows x 5 columns]

In [269]:
import baostock as bs
import pandas as pd

#### 登陆系统 ####
lg = bs.login()
# 显示登陆返回信息
print('login respond error_code:'+lg.error_code)
print('login respond  error_msg:'+lg.error_msg)

#### 获取沪深A股历史K线数据 ####
# 详细指标参数，参见“历史行情指标参数”章节；“分钟线”参数与“日线”参数不同。“分钟线”不包含指数。
# 分钟线指标：date,time,code,open,high,low,close,volume,amount,adjustflag
# 周月线指标：date,code,open,high,low,close,volume,amount,adjustflag,turn,pctChg
rs = bs.query_history_k_data_plus("sh.000032",
    "date,code,open,high,low,close,volume,amount,adjustflag",
    start_date='2017-07-01', end_date='2017-12-31',
    frequency="d", adjustflag="3")
print('query_history_k_data_plus respond error_code:'+rs.error_code)
print('query_history_k_data_plus respond  error_msg:'+rs.error_msg)

df = rs.get_data()

#### 登出系统 ####
bs.logout()
df

login success!
login respond error_code:0
login respond  error_msg:success
query_history_k_data_plus respond error_code:0
query_history_k_data_plus respond  error_msg:success
logout success!

,date,code,open,high,low,close,volume,amount,adjustflag
0,2017-07-03,sh.000032,1587.0440,1605.1050,1585.0800,1604.3450,618638704,4389029888.0000,3
1,2017-07-04,sh.000032,1601.9850,1610.6520,1599.1580,1604.5470,669748208,4653228800.0000,3
2,2017-07-05,sh.000032,1609.6960,1620.7880,1605.8210,1617.9030,686401008,5055446272.0000,3
3,2017-07-06,sh.000032,1623.1880,1637.2260,1617.4250,1630.5480,972281600,7437236224.0000,3
4,2017-07-07,sh.000032,1624.8530,1647.2900,1619.7300,1644.4660,897491696,6954533376.0000,3
...,...,...,...,...,...,...,...,...,...
120,2017-12-25,sh.000032,1653.7830,1653.7830,1638.0490,1638.8060,864797104,7012241664.0000,3
121,2017-12-26,sh.000032,1637.2440,1648.0420,1626.9080,1646.3150,718444208,5761362176.0000,3
122,2017-12-27,sh.000032,1646.1440,1678.6640,1645.8980,1656.5420,1208642000,10089702912.0000,3
123,2017-12-28,sh.000032,1650.8540,1678.0320,1644.5060,1671.7170,1122464896,9516788992.0000,3
124,2017-12-29,sh.000032,1670.1040,1672.0310,1657.3830,1663.5860,636556608,5232513792.0000,3

In [271]:
df[['open',	'high',	'low',	'close','volume','amount']] = df[['open',	'high',	'low',	'close','volume','amount']].astype("float64")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        125 non-null    object
 1   code        125 non-null    object
 2   open        125 non-null    float64
 3   high        125 non-null    float64
 4   low         125 non-null    float64
 5   close       125 non-null    float64
 6   volume      125 non-null    float64
 7   amount      125 non-null    float64
 8   adjustflag  125 non-null    object
dtypes: float64(6), object(3)
memory usage: 8.9+ KB

In [302]:
from stockstats import StockDataFrame, wrap
# sdf = StockDataFrame(df.copy())
sdf = wrap(df.copy())
sdf[['close_5_ema', 'close_10_ema','rsi']]
sdf['rsi']
# sdf['change']

date
2017-07-03           NaN
2017-07-04    100.000000
2017-07-05    100.000000
2017-07-06    100.000000
2017-07-07    100.000000
                 ...
2017-12-25     51.360837
2017-12-26     53.587882
2017-12-27     56.508648
2017-12-28     60.482568
2017-12-29     57.453343
Name: rsi, Length: 125, dtype: float64

In [303]:
# sdf.resample('D', on = sdf.index)
sdf = sdf.reset_index() 
sdf

,date,code,open,high,low,close,volume,amount,adjustflag,close_5_ema,close_10_ema,rs_14,rsi
0,2017-07-03,sh.000032,1587.044,1605.105,1585.080,1604.345,6.186387e+08,4.389030e+09,3,1604.345000,1604.345000,NaN,NaN
1,2017-07-04,sh.000032,1601.985,1610.652,1599.158,1604.547,6.697482e+08,4.653229e+09,3,1604.466200,1604.456100,inf,100.000000
2,2017-07-05,sh.000032,1609.696,1620.788,1605.821,1617.903,6.864010e+08,5.055446e+09,3,1610.831000,1609.861664,inf,100.000000
3,2017-07-06,sh.000032,1623.188,1637.226,1617.425,1630.548,9.722816e+08,7.437236e+09,3,1619.021138,1616.676890,inf,100.000000
4,2017-07-07,sh.000032,1624.853,1647.290,1619.730,1644.466,8.974917e+08,6.954533e+09,3,1628.789071,1624.654388,inf,100.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,2017-12-25,sh.000032,1653.783,1653.783,1638.049,1638.806,8.647971e+08,7.012242e+09,3,1635.878281,1631.157254,1.055956,51.360837
121,2017-12-26,sh.000032,1637.244,1648.042,1626.908,1646.315,7.184442e+08,5.761362e+09,3,1639.357188,1633.913208,1.154610,53.587882
122,2017-12-27,sh.000032,1646.144,1678.664,1645.898,1656.542,1.208642e+09,1.008970e+10,3,1645.085458,1638.027534,1.299308,56.508648
123,2017-12-28,sh.000032,1650.854,1678.032,1644.506,1671.717,1.122465e+09,9.516789e+09,3,1653.962639,1644.152891,1.530529,60.482568
124,2017-12-29,sh.000032,1670.104,1672.031,1657.383,1663.586,6.365566e+08,5.232514e+09,3,1657.170426,1647.686184,1.350361,57.453343

In [329]:
sdf['date'] = sdf.date.apply(pd.to_datetime)
sdf

,date,code,open,high,low,close,volume,amount,adjustflag,close_5_ema,close_10_ema,rs_14,rsi
0,2017-07-03,sh.000032,1587.044,1605.105,1585.080,1604.345,6.186387e+08,4.389030e+09,3,1604.345000,1604.345000,NaN,NaN
1,2017-07-04,sh.000032,1601.985,1610.652,1599.158,1604.547,6.697482e+08,4.653229e+09,3,1604.466200,1604.456100,inf,100.000000
2,2017-07-05,sh.000032,1609.696,1620.788,1605.821,1617.903,6.864010e+08,5.055446e+09,3,1610.831000,1609.861664,inf,100.000000
3,2017-07-06,sh.000032,1623.188,1637.226,1617.425,1630.548,9.722816e+08,7.437236e+09,3,1619.021138,1616.676890,inf,100.000000
4,2017-07-07,sh.000032,1624.853,1647.290,1619.730,1644.466,8.974917e+08,6.954533e+09,3,1628.789071,1624.654388,inf,100.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,2017-12-25,sh.000032,1653.783,1653.783,1638.049,1638.806,8.647971e+08,7.012242e+09,3,1635.878281,1631.157254,1.055956,51.360837
121,2017-12-26,sh.000032,1637.244,1648.042,1626.908,1646.315,7.184442e+08,5.761362e+09,3,1639.357188,1633.913208,1.154610,53.587882
122,2017-12-27,sh.000032,1646.144,1678.664,1645.898,1656.542,1.208642e+09,1.008970e+10,3,1645.085458,1638.027534,1.299308,56.508648
123,2017-12-28,sh.000032,1650.854,1678.032,1644.506,1671.717,1.122465e+09,9.516789e+09,3,1653.962639,1644.152891,1.530529,60.482568
124,2017-12-29,sh.000032,1670.104,1672.031,1657.383,1663.586,6.365566e+08,5.232514e+09,3,1657.170426,1647.686184,1.350361,57.453343

In [330]:
sdf.resample("D", on= "date").mean()

,open,high,low,close,volume,amount,close_5_ema,close_10_ema,rs_14,rsi
date,,,,,,,,,,
2017-07-03,1587.044,1605.105,1585.080,1604.345,6.186387e+08,4.389030e+09,1604.345000,1604.345000,NaN,NaN
2017-07-04,1601.985,1610.652,1599.158,1604.547,6.697482e+08,4.653229e+09,1604.466200,1604.456100,inf,100.000000
2017-07-05,1609.696,1620.788,1605.821,1617.903,6.864010e+08,5.055446e+09,1610.831000,1609.861664,inf,100.000000
2017-07-06,1623.188,1637.226,1617.425,1630.548,9.722816e+08,7.437236e+09,1619.021138,1616.676890,inf,100.000000
2017-07-07,1624.853,1647.290,1619.730,1644.466,8.974917e+08,6.954533e+09,1628.789071,1624.654388,inf,100.000000
...,...,...,...,...,...,...,...,...,...,...
2017-12-25,1653.783,1653.783,1638.049,1638.806,8.647971e+08,7.012242e+09,1635.878281,1631.157254,1.055956,51.360837
2017-12-26,1637.244,1648.042,1626.908,1646.315,7.184442e+08,5.761362e+09,1639.357188,1633.913208,1.154610,53.587882
2017-12-27,1646.144,1678.664,1645.898,1656.542,1.208642e+09,1.008970e+10,1645.085458,1638.027534,1.299308,56.508648
2017-12-28,1650.854,1678.032,1644.506,1671.717,1.122465e+09,9.516789e+09,1653.962639,1644.152891,1.530529,60.482568
2017-12-29,1670.104,1672.031,1657.383,1663.586,6.365566e+08,5.232514e+09,1657.170426,1647.686184,1.350361,57.453343

In [9]:
from datetime import datetime
datetime.now().strftime("%Y-%m-%d.%W.")

'2023-01-28.04.'

In [ ]:
import baostock as bs
import os
import sqlite3
import pandas as pd
from functools import partial
from globals import MAIN_PATH, OLHCVA, MKT_OCLHVA, BAOSTOCK_MAPPING
import pysnooper
from datetime import datetime, timedelta
from itertools import count
import tushare as ts


class DataWorker(object):
    def __init__(self) -> None:
        self.ds = DataStorage()
        self.begin = "2000-01-01"

    def __del__(self) -> None:
        pass
    
    @property
    def all_tickers(self) -> pd.DataFrame :
        pass
    
    def minute(self,ticker,ktype='1') -> pd.DataFrame :
        pass

    def save(self, rs:pd.DataFrame) -> bool:
        pass

class BaostockDataWorker(DataWorker):
    def __init__(self) -> None:
        super().__init__()
        self.login = bs.login(user_id="anonymous", password="123456")
        self.ds = DataStorage()
        self.begin = "2000-01-01"

    @property
    def all_tickers(self) -> pd.DataFrame :
        tickers = bs.query_stock_basic().get_data()  # 获取最新证券基本资料，可以通过参数设置获取对应证券代码、证券名称的数据
        self.ds.save_tickers(tickers)
        return tickers

    # @pysnooper.snoop()
    def minute(self,ticker,start_date, end_date, ktype='5') -> pd.DataFrame :
        ''' download 5-minutely data if ticker available
        http://baostock.com/baostock/index.php/Python_API文档
        '''
        end_date = datetime.today if end_date is None else end_date
        rs = bs.query_history_k_data_plus(ticker, "date,time,code,open,high,low,close,volume,amount,adjustflag",
            start_date = start_date, end_date = end_date, frequency = ktype, adjustflag="2")
        self.stock = rs.get_data() # if rs.error_code == '0' else None
        self.stock[OLHCVA] = self.stock[OLHCVA].astype('float')  # Baostock给出的是object，不是float的要转成float
        self.stock.rename(columns = BAOSTOCK_MAPPING,inplace = True) 
        return self.stock

    def market(self,ticker) -> str:
        ''' returns the market index of designated ticker. 
        注意指数没有分钟线数据... ...怎么办？
        ie. 'sh.000023' goes to 'sh.000001' # 上证综指 
            'sz.300333' goes to 'sz.300001' # 深圳综指
            'hk.00700' goes to 'HSI'        # 恒生指数
            'us.######' goes to 'NASDAQ' or 'DJX' 
        '''
        market = ticker.split(".")[0]
        # match market:   # requires python 3.10 or higher version
        #     case 'sh': 'sh.000001'
        #     case 'sz':  'sz.000001'
        #     case 'hk':  'HSI'
        #     case 'us':  'DJX'
        if market == 'sh':
            mkt = 'sh.000001'
        elif market == 'sz':
            mkt = 'sz.300006'
        elif market == 'hk':
            mkt = 'HSI'
        else:
            print("invalid market label")
        return mkt # 暂时以上证指数为大盘

    def minute_mkt(self,ticker,ktype='5') -> pd.DataFrame:
        ''' downloads 5-min with market data if ticker available
        常用的合并方法包括append、assign、combine、update、concat、merge、join等
        '''
        rs1 = self.minute(ticker, ktype)
        mkt = self.market(ticker)
        begin = rs1.date.min
        end = rs1.date.max
        rs2 = self.minute(mkt, begin, end, ktype = 'd') # only ktype = 'd' is available for indices in Baostock
        rs2.rename(columns=dict(zip(OLHCVA, MKT_OCLHVA)),inplace = True) 
        rs2.rename(columns={'code':"mkt_code"},inplace = True) 
        return rs2 # returns rs2 only
        # return rs1.merge(rs2,how='left', left_on=["date","time"],right_on=["date","time"])  # 按列合并
    
    def save(self, rs:pd.DataFrame) -> bool:
        return self.ds.save_raw(rs)

In [ ]:
rs = dw.minute(t0)
rs

In [ ]:
rs

In [ ]:
from globals import OLHCVA, Infinitesimal

In [ ]:
import numpy as np
# from utils import sigmoid_plus
# tanh = lambda z:(np.exp(z)-np.exp(-z))/(np.exp(z)+np.exp(-z))
def tanh(z):
    return (np.exp(z)-np.exp(-z))/(np.exp(z)+np.exp(-z))


sigmoid_ = lambda x: 1.0/(1+np.exp(-x)) - 0.5

rs[rs.volume == 0] = Infinitesimal
rs[rs.amount == 0] = Infinitesimal

In [ ]:
rs_ = rs[OLHCVA].pct_change().dropna()

In [ ]:
rs_.describe()

In [ ]:
rs_[['volume','amount']] = rs_[['volume','amount']].applymap(sigmoid_)

In [ ]:
sns.pairplot(rs_)

In [ ]:
import seaborn as sns
sns.factorplot(rs_.sample(100))

In [ ]:
dots = sns.load_dataset("dots")
sns.kdeplot(
    data=dots, kind="line",
    x="time", y="firing_rate", col="align",
    hue="choice", size="coherence", style="choice",
    facet_kws=dict(sharex=False),
)

dots

In [ ]:
from unicodedata import category
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline
penguins = sns.load_dataset("penguins")
sns.jointplot(data=penguins, x="flipper_length_mm", y="bill_length_mm", hue="species")

In [ ]:
sns.pairplot(data=penguins, hue="species")

In [ ]:
pt = PowerTransformer(method='box-cox', standardize=False)
X_pt = pt.fit_transform(X)                   
sns.displot(X_pt, kde=True)

In [ ]:
df = pd.DataFrame({'A':np.array([1,np.nan,2,3,6,np.nan]),
                 'B':np.array([np.nan,4,np.nan,5,9,np.nan]),
                  'C':'foo'})
df.isna()

In [ ]:
x = np.array([0,1,3])
y = np.array([0,1,5])
a1=len(x)*((x*y).sum())-x.sum()*y.sum()
a2=len(x)*((x**2).sum())-(x.sum())**2
a=a1/a2
b=y.mean()-a*(x.mean())
print(a,b)

In [ ]:
# 第二种解法： a = np.cov(x,y)/ x.var(), b = (y - a*x).mean() 
a = ((x*y).mean() - x.mean()*y.mean())/x.var()
b = (y - a*x).mean() 
print(a,b)


covar = lambda x,y: ((x*y).mean() - x.mean()*y.mean())

covar(x,y)/covar(x,x)

In [ ]:
# 用np.cov(), np.var() 要注意是总体还是样本，总体的时候分母是n，样本时分母是n-1
np.cov(x,y)[1,0]*2/3 , covar(x,y)
covar(x,x) , x.var()

In [ ]:
#首先我们先建立一个数据集，这也是之后用来训练和测试的数据
#导入包，创建数据集
import pandas as pd
examDict={
    '学习时间':[0.50,0.75,1.00,1.25,1.50,1.75,1.75,2.00,2.25,
            2.50,2.75,3.00,3.25,3.50,4.00,4.25,4.50,4.75,5.00,5.50],
    '分数':    [10,  22,  13,  43,  20,  22,  33,  50,  62,  
              48,  55,  75,  62,  73,  81,  76,  64,  82,  90,  93]
}
exam=pd.DataFrame(examDict)
#看看数据集长什么样
exam.head()

In [ ]:
import numpy as np

### EM算法过程函数定义
def em(data, thetas, max_iter=30, eps=1e-3):
    '''
    输入：
    data：观测数据
    thetas：初始化的估计参数值
    max_iter：最大迭代次数
    eps：收敛阈值
    输出：
    thetas：估计参数
    '''
    # 初始化似然函数值
    ll_old = -np.infty
    for i in range(max_iter):
        ### E步：求隐变量分布
        # 对数似然 [coin_num, exp_num], [2, 5]
        log_like = np.array([np.sum(data * np.log(theta), axis=1) for theta in thetas])
        # 似然 [coin_num, exp_num], [2, 5]
        like = np.exp(log_like)
        # 求隐变量分布 [coin_num, exp_num], [2, 5]  Q_i
        ws = like/like.sum(0)
        # 概率加权 [2, 5, 2]
        vs = np.array([w[:, None] * data for w in ws])
        ### M步：更新参数值 [2, 2]  [[A_+,A_-],[B_+,B_-]]
        thetas = np.array([v.sum(0)/v.sum() for v in vs])
        # 更新似然函数
        ll_new = np.sum([w*l for w, l in zip(ws, log_like)])  # 计算似然函数 \hat(theta):=\arg,\max_{\theta}\sum_{i=1}^m\sum_{z^{(i)}Q_i(z^{(i)})\log{P(x_i,z^{(i)}|\theta)}}
        print("Iteration: %d" % (i+1))
        print("theta_B = %.2f, theta_C = %.2f, ll = %.2f"
              % (thetas[0,0], thetas[1, 0], ll_new))
        # 满足迭代条件即退出迭代
        if np.abs(ll_new - ll_old) < eps:
            break
        ll_old = ll_new
    return thetas


if __name__ == "__main__":
    # 观测数据，5次独立试验，每次试验10次抛掷的正反次数
    # 比如第一次试验为5次正面5次反面
    observed_data = np.array([(5,5), (9,1), (8,2), (4,6), (7,3)])
    # 初始化参数值，即硬币B的正面概率为0.6，硬币C的正面概率为0.5
    thetas = np.array([[0.6, 0.4], [0.5, 0.5]])
    # thetas = em(observed_data, thetas, max_iter=30, eps=1e-3)
    thetas = em(observed_data, thetas) #, max_iter=30, eps=1e-4)
    print(thetas)

In [ ]:
import baostock as bs
import pandas as pd

#### 登陆系统 ####
lg = bs.login()
# 显示登陆返回信息
print('login respond error_code:'+lg.error_code)
print('login respond  error_msg:'+lg.error_msg)

#### 获取沪深A股历史K线数据 ####
# 详细指标参数，参见“历史行情指标参数”章节；“分钟线”参数与“日线”参数不同。“分钟线”不包含指数。
# 分钟线指标：date,time,code,open,high,low,close,volume,amount,adjustflag
# 周月线指标：date,code,open,high,low,close,volume,amount,adjustflag,turn,pctChg
rs = bs.query_history_k_data_plus("sh.600000",
    "date,time,code,name,open,high,low,close,volume,amount,adjustflag",
    start_date='2017-07-01', end_date='2017-07-31',
    frequency="5", adjustflag="3")
print('query_history_k_data_plus respond error_code:'+rs.error_code)
print('query_history_k_data_plus respond  error_msg:'+rs.error_msg)

#### 打印结果集 ####
data_list = []
while (rs.error_code == '0') & rs.next():
    # 获取一条记录，将记录合并在一起
    data_list.append(rs.get_row_data())
result = pd.DataFrame(data_list, columns=rs.fields)

#### 结果集输出到csv文件 ####   
# result.to_csv("D:\\history_A_stock_k_data.csv", index=False)
print(result)

#### 登出系统 ####
bs.logout()

In [121]:
import pandas as pd
df = pd.read_excel("000016closeweight.xls",header = 0)
df

     code  name  weight     sector
0  600900  长江电力   3.710  sh.000032
1  600010  包钢股份   0.697  sz.399440

In [ ]:
df.iloc[0]

In [ ]:
import baostock as bs
import pandas as pd

# 登陆系统
lg = bs.login()
# 显示登陆返回信息
print('login respond error_code:'+lg.error_code)
print('login respond  error_msg:'+lg.error_msg)

# 获取上证50成分股
rs = bs.query_sz50_stocks()
print('query_sz50 error_code:'+rs.error_code)
print('query_sz50  error_msg:'+rs.error_msg)

# 打印结果集
sz50_stocks = []
while (rs.error_code == '0') & rs.next():
    # 获取一条记录，将记录合并在一起
    sz50_stocks.append(rs.get_row_data())
result = pd.DataFrame(sz50_stocks, columns=rs.fields)
# 结果集输出到csv文件
# result.to_csv("D:/sz50_stocks.csv", encoding="gbk", index=False)
print(result)

# 登出系统
bs.logout()

In [ ]:
result

In [ ]:
import numpy as np
x = np.linspace(0,10,100)
y = np.sin(x)
import matplotlib.pyplot as plt
import matplotlib as mpl
# mpl.rc("font",family='Heiti TC')
plt.rcParams['font.sans-serif'] = ['SimHei']
plt.plot(x,y)
plt.hlines(0,0,10)
plt.text(0,0.5,"上缩")
plt.text(2,0.5,"下放")
plt.text(3,-0.5,"下缩")
plt.text(5,-0.5,"上放")
plt.text(6,0.5,"上缩")
plt.text(8,0.5,"下放")

In [ ]:
def market_of(ticker:str) -> str:
        '''根据股票代码，返回其所在的大盘指数代码
        http://baostock.com/baostock/index.php/指数数据
        综合指数，例如：sh.000001 上证指数，sz.399106 深证综指 等；
        规模指数，例如：sh.000016 上证50，sh.000300 沪深300，sh.000905 中证500，sz.399001 深证成指等；
        注意指数没有分钟线数据... ...怎么办？
        ie. 'sh.000023' goes to 'sh.000001' # 上证综指 
            'sz.300333' goes to 'sz.399106' # 深圳综指
            'hk.00700' goes to 'HSI'        # 恒生指数
            'us.######' goes to 'NASDAQ' or 'DJX' 
        '''
        market = ticker.split(".")[0]
        # match market:   # requires python 3.10 or higher version
        #     case 'sh': 'sh.000001'
        #     case 'sz':  'sz.399106'
        #     case 'hk':  'HSI'
        #     case 'us':  'DJX'
        if market == 'sh': mkt = 'sh.000001'
        elif market == 'sz': mkt = 'sz.399106'
        elif market == 'hk': mkt = 'HSI'
        else: print("invalid market label")

        return mkt 

def market(ticker:str)->str:
    return "sh.000001"

In [ ]:
df['code'] = df.code.astype("str")

In [ ]:
import baostock as bs
import pandas as pd

# 登陆系统
lg = bs.login()
# 显示登陆返回信息
print('login respond error_code:'+lg.error_code)
print('login respond  error_msg:'+lg.error_msg)

# 获取行业分类数据
rs = bs.query_stock_basic()
# rs = bs.query_stock_basic(code_name="浦发银行")
print('query_stock_industry error_code:'+rs.error_code)
print('query_stock_industry respond  error_msg:'+rs.error_msg)

industries = pd.DataFrame(rs.get_data(), columns=rs.fields)
# 登出系统
bs.logout()

login success!
login respond error_code:0
login respond  error_msg:success
query_stock_industry error_code:0
query_stock_industry respond  error_msg:success
logout success!

In [ ]:
industries

           code           code_name     ipoDate outDate type status
0     of.159001           易方达保证金货币A  2013-03-29            5      1
1     of.159003            招商保证金快线A  2013-05-17            5      1
2     of.159005          汇添富收益快钱货币A  2014-12-23            5      1
3     of.159601  华夏MSCI中国A50互联互通ETF  2021-11-01            5      1
4     of.159602  南方MSCI中国A50互联互通ETF  2021-10-29            5      1
...         ...                 ...         ...     ...  ...    ...
7092  sz.399994          中证信息安全主题指数  2015-03-12            2      1
7093  sz.399995            中证基建工程指数  2015-03-12            2      1
7094  sz.399996            中证智能家居指数  2014-09-17            2      1
7095  sz.399997              中证白酒指数  2015-01-21            2      1
7096  sz.399998              中证煤炭指数  2015-02-13            2      1

[7097 rows x 6 columns]

In [ ]:
d = pd.DataFrame(industries.industry.value_counts())
d

      industry
机械设备       473
           429
化工         428
医药生物       403
电子         341
计算机        273
电气设备       245
汽车         214
公用事业       204
传媒         172
轻工制造       154
建筑装饰       154
有色金属       135
交通运输       126
房地产        125
食品饮料       120
通信         112
纺织服装        98
商业贸易        94
农林牧渔        94
国防军工        90
非银金融        84
建筑材料        74
家用电器        71
采掘          65
银行          41
综合          39
休闲服务        36
钢铁          36

In [ ]:
criteria = lambda r:1 if r.ma5>r.ma10 else -1
stock_list = pd.DataFrame()
stock_list['stock_strength'] = [df.apply(criteria, axis=1) for df in f]

In [115]:
# %run bandwagon.py

df = pd.read_excel("000016closeweight.xls", dtype={'code':'str'}, header = 0)
df

     code  name  weight     sector
0  600900  长江电力   3.710  sh.000032
1  600010  包钢股份   0.697  sz.399440

In [184]:
import baostock as bs
bs.login()
rs = bs.query_trade_dates(start_date="2017-01-01", end_date=datetime.today().strftime("%Y-%m-%d"))
print('query_trade_dates respond error_code:'+rs.error_code)
print('query_trade_dates respond  error_msg:'+rs.error_msg)
trade_day = rs.get_data()
trade_day

login success!
query_trade_dates respond error_code:0
query_trade_dates respond  error_msg:success

     calendar_date is_trading_day
0       2017-01-01              0
1       2017-01-02              0
2       2017-01-03              1
3       2017-01-04              1
4       2017-01-05              1
...            ...            ...
2215    2023-01-25              0
2216    2023-01-26              0
2217    2023-01-27              0
2218    2023-01-28              0
2219    2023-01-29              0

[2220 rows x 2 columns]

In [186]:
trade_day.calendar_date.apply(pd.to_datetime).dt.day_of_week

0       6
1       0
2       1
3       2
4       3
       ..
2215    2
2216    3
2217    4
2218    5
2219    6
Name: calendar_date, Length: 2220, dtype: int64

In [139]:


# td.calendar_date.max()
# td.calendar_date.tail(20)
import pandas as pd
# td[:,'calendar_date'] = td.calendar_date.apply(pd.to_datetime)


trade_day['is_trading_day'] = trade_day.is_trading_day.astype("int64")
trade_day['calendar_date'] = pd.to_datetime(trade_day.calendar_date)
trade_day.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2220 entries, 0 to 2219
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   calendar_date   2220 non-null   datetime64[ns]
 1   is_trading_day  2220 non-null   int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 34.8 KB

In [22]:
from bandwagon import Bandwagon
if __name__ == "__main__":
    df = pd.read_excel("000016closeweight.xls", dtype={'code':'str'}, header = 0)
    df['code'] = 'sh.'+df.code
    # df = pd.read_excel("000016closeweight(5).xls", dtype={'code':'str'}, header = 0)
    bw = Bandwagon(df)
    score = bw.vote()
    print(f"score = {score}, Buy(1) or Sell(-1)?", bw.etf_action(score))
    print(bw.stock_list)
    print(bw.stocks_datum)

    bw.save()

login success!
score = 4.020361319906492, Buy(1) or Sell(-1)? -1
        code  name  weight     sector     market  stock_strength  \
0  sh.600900  长江电力   3.710  sh.000032  sh.000001               1
1  sh.600010  包钢股份   0.697  sz.399440  sh.000001               1

   sector_strength  market_strength  stock_momentum  strength
0                1                1        0.140318  0.914032
1                1                1        0.028742  0.902874
[           date               time     ticker       open       high  \
1    2022-03-30  20220330094000000  sh.600900  21.266991  21.266991
2    2022-03-30  20220330094500000  sh.600900  21.179950  21.218635
3    2022-03-30  20220330095000000  sh.600900  21.189621  21.228306
4    2022-03-30  20220330095500000  sh.600900  21.150936  21.179950
5    2022-03-30  20220330100000000  sh.600900  21.112251  21.112251
...         ...                ...        ...        ...        ...
9547 2023-01-20  20230120144000000  sh.600900  21.000000  21.010000
9548 2023-01-20  20230120144500000  sh.600900  21.010000  21.010000
9549 2023-01-20  20230120145000000  sh.600900  21.010000  21.020000
9550 2023-01-20  20230120145500000  sh.600900  21.000000  21.010000
9551 2023-01-20  20230120150000000  sh.600900  21.000000  21.030000

            low      close     volume       amount adjustflag  day landmark  \
1     21.160607  21.179950   896900.0   19667652.0          2    2        -
2     21.092909  21.179950  1109400.0   24252624.0          2    2        -
3     21.102580  21.150936  1129000.0   24713174.0          2    2        -
4     21.063895  21.112251  1433700.0   31283717.0          2    2        -
5     20.996197  21.025211  1033300.0   22476295.0          2    2        -
...         ...        ...        ...          ...        ...  ...      ...
9547  20.980000  21.010000  2783100.0   58441168.0          2    4        -
9548  20.980000  21.000000  3183913.0   66860544.0          2    4        -
9549  21.000000  21.010000  2359093.0   49561776.0          2    4        -
9550  20.970000  21.000000  3911230.0   82121280.0          2    4        -
9551  20.990000  21.030000  8777987.0  184575008.0          2    4        -

      close_5_ema  close_10_ema        rsi
1       21.214766     21.219118   0.000000
2       21.198274     21.203373   0.000000
3       21.178611     21.186097   0.000000
4       21.153136     21.164898   0.000000
5       21.106391     21.128616   0.000000
...           ...           ...        ...
9547    20.998257     20.974182  74.198325
9548    20.998838     20.978876  71.456198
9549    21.002559     20.984535  72.548745
9550    21.001706     20.987347  69.676640
9551    21.011137     20.995102  73.115246

[9551 rows x 15 columns],            date               time     ticker      open      high       low  \
3    2022-03-30  20220330095000000  sh.600010  2.222152  2.251913  2.222152
4    2022-03-30  20220330095500000  sh.600010  2.251913  2.251913  2.232072
5    2022-03-30  20220330100000000  sh.600010  2.241992  2.241992  2.222152
6    2022-03-30  20220330100500000  sh.600010  2.232072  2.232072  2.222152
7    2022-03-30  20220330101000000  sh.600010  2.222152  2.232072  2.222152
...         ...                ...        ...       ...       ...       ...
9595 2023-01-20  20230120144000000  sh.600010  2.000000  2.000000  1.990000
9596 2023-01-20  20230120144500000  sh.600010  2.000000  2.000000  1.990000
9597 2023-01-20  20230120145000000  sh.600010  2.000000  2.010000  1.990000
9598 2023-01-20  20230120145500000  sh.600010  2.010000  2.010000  2.000000
9599 2023-01-20  20230120150000000  sh.600010  2.010000  2.010000  2.000000

         close      volume       amount adjustflag  day landmark  close_5_ema  \
3     2.241992  63709235.0  143771529.0          2    2        -     2.230393
4     2.232072  13921400.0   31494068.0          2    2        -     2.231038
5     2.232072  17076040.0   38425553.0          2    2        -     2.231416
6     2.232072   6672960.0   14995696.0          2    2        -     2.231648
7     2.222152   1735601.0    3896512.0          2    2        -     2.228354
...        ...         ...          ...        ...  ...      ...          ...
9595  2.000000   6200400.0   12392544.0          2    4        -     2.000534
9596  2.000000   8119680.0   16226944.0          2    4        -     2.000356
9597  2.000000  22166976.0   44381040.0          2    4        -     2.000237
9598  2.000000  11052240.0   22165488.0          2    4        -     2.000158
9599  2.010000  13331600.0   26782224.0          2    4        -     2.003439

      close_10_ema         rsi
3         2.228688  100.000000
4         2.229660   65.000000
5         2.230286   65.000000
6         2.230717   65.000000
7         2.228768   45.228669
...            ...         ...
9595      2.001263   52.808656
9596      2.001033   52.808656
9597      2.000845   52.808656
9598      2.000692   52.808656
9599      2.002384   61.091437

[9597 rows x 15 columns]]

3    42
4    41
2    40
1    39
0    37
Name: day, dtype: int64